<!DOCTYPE html>
<html lang="pt-br" ng-app="login">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link href="../lib/bootstrap/style.css" rel="stylesheet">

    <script src="../lib/angular/angular.js"></script>
    <script>
        angular.module("login", []); //criação do módulo
        angular.module("login").controller("loginCtrl", function ($scope, $http) {
            $scope.title = "Acesso ao Cachaça Gestor";
            $scope.usuarios = [
                { usuario: "João", senha: "123" },
                { usuario: "Ana", senha: "123" },
                { usuario: "Maria", senha: "123" },
                { usuario: "Pedro", senha: "123" },
            ];

            $scope.autenticarUsuario = function (login) {
                console.log(login)
                $http.post("http://localhost:5000/index", login).then(
                    function (response) {
                        console.log(response)
                        delete $scope.login;
                        $scope.loginForm.$setPristine();
                    }
                );
            }
        });
    </script>

    <title>Cachaça Gestor</title>
</head>

<body ng-controller="loginCtrl">
    <div class="wrapper">
        <div id="formContent">
            <h2>{{title}}</h2>
            {{login}}
            <form name="loginForm">
                <div class="form-group">
                    <input type="text" id="login" class="fadeIn second" ng-required="true" autocomplete="username"
                        name="usuario" ng-model="login.usuario" placeholder="Usuário">
                </div>
                <div class="form-group">
                    <input type="password" id="password" ng-required="true" class="fadeIn third" name="senha"
                        autocomplete="current-password" ng-model="login.senha" placeholder="Senha">
                </div>
                <button ng-click="autenticarUsuario(login)" ng-disabled="loginForm.$invalid" name="botaoLogin"
                    type="submit" class="btn btn-padrao btn-lg">Login</button><br>
                <a class="h4" name="recuperacaoSenha">Esqueceu sua senha?</a>
            </form>

            <div id="formFooter">
                Você não possui uma conta? Crie uma conta <a class="underlineHover" href="#">aqui</a>
            </div>

            <div name="msgCampoUsuario" ng-show="loginForm.usuario.$error.required && loginForm.usuario.$dirty"
                class="alert alert-danger">
                O campo Usuário é obrigatório!
            </div>

            <div name="msgCampoSenha" ng-show="loginForm.senha.$error.required && loginForm.senha.$dirty"
                class="alert alert-danger">
                O campo Senha é obrigatório!
            </div>

        </div>
    </div>

    <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>